<!DOCTYPE html>
<html lang="ko" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>상세페이지</title>
    <link rel="stylesheet" th:href="@{/css/productDetail.css}">
    <script defer th:src="@{/js/productDetail.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="product-container container">

        <!-- 오류 메시지 표시 블록 -->
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
        <!-- 오류 메시지 표시 블록 끝 -->

        <form  th:object="${product}" method="post" enctype="multipart/form-data" id="productForm">
            <div class="product-image">
                <img th:src="@{${product.productImgDtoList[0].imgUrl}}" alt="제품 이미지" width="400px">
            </div>

            <div class="product-details">
                <h1> [ <span th:text="${product.productType}"></span> ] <span th:text="${product.prName}"></span></h1>
                <div>브랜드: 자사브랜드</div>
<!--                <div class="product-sell-status" th:classappend="${product.productSellStatus.name() == 'SOLD_OUT' ? 'sold-out' : ''}">-->
<!--                    판매 상태: <span th:text="${product.productSellStatus.name() == 'SELL' ? '판매중' : '품절'}"></span>-->
<!--                </div>-->
                <div class="price">판매가 : <span th:text="${product.prPrice}"></span> 원</div>
                <div class="shipping">배송비: 0원 (무료!!)</div>

                <div class="options">
                    <label for="options">기종:</label>
                    <select id="options" name="selectedOption" onchange="addProduct(this)">
                        <option value="" disabled selected>- [필수] 옵션을 선택해 주세요 -</option>
                        <option th:each="model : ${product.productModelDtoList}"
                                th:if="${model.productModelSelect != null}"
                                th:unless="${model.productModelSelect.name() == 'DEFAULT_MODEL'}"
                                th:value="${model.id}"
                                th:attr="data-stock=${model.prStock}"
                                th:disabled="${model.prStock == 0}">
                            <span th:if="${model.prStock == 0}" th:text="${model.productModelSelect + ' [재고 품절]'}" ></span>
                            <span th:unless="${model.prStock == 0}" th:text="${model.productModelSelect}"></span>
                        </option>

                    </select>
                </div>
        
                <div class="minimum-order text-danger">
                    최소주문수량 1개 이상
                </div>

                <div class="totalProduct">
                    <div id="selectedProducts" ></div> <!-- 동적으로 선택된 상품을 표시할 영역 -->
                    <div class="totalPrice">
                        TOTAL: ( <span id="totalPrice"> 0 원</span> )
                    </div>
                </div>
                <input type="hidden" name="totalPrice" value="" id="sendTotal">

                <input type="hidden" id="prId" name="prId" th:value="${product.id}">

                <button type="button" onclick="submitForm('cart')" class="btn-cart">카트</button>
                <button type="button" onclick="submitForm('buy')" class="btn-buy">바로구매</button>
            </div>
        </form>
    </div>
    <div class="foot">
        <div><a href="#">구매가이드</a></div>
        <div><a href="#">구매후기</a></div>
        <div><a href="#">상품문의</a></div>
    </div>

    <div>
        <div th:each="img : ${product.productImgDtoList}" class="text-center">
            <img th:src="@{${img.imgUrl}}" alt="제품 상세 이미지" class="rounded mgb-15">
        </div>
        <span th:text="${product.prDetail}" class="ptc"></span>
    </div>

    <div class="detailguide">
        <img alt="" src="/images/mainImg/detailguide.png">
    </div>

</div>
</body>
</html>
