<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = /*[[${errorMessage}]]*/ 'null';
            if(errorMessage != null && errorMessage !== 'null'){
                alert(errorMessage);
            }

            bindEvent();
        });
        function bindEvent(){
            $('.custom-file-input').on("change", function(){
                var fileName = $(this).val().split("\\").pop();
                var fileExt = fileName.substring(fileName.lastIndexOf(".") + 1).toLowerCase();
                if(['jpg', 'jpeg', 'gif', 'png', 'bmp'].indexOf(fileExt) === -1){
                    alert("jpg, jpeg, bmp, png, gif 이미지만 등록 가능합니다.");
                    return;
                }
                $(this).siblings(".custom-file-label").html(fileName);
            });

            $('#add-file-upload').off('click').on('click', function() {
                var fileUploadCount = $('#file-upload-container .custom-file').length + 1;
                var newFileUpload = `
                    <div class="form-group custom-file img-div" id="file-upload-` + fileUploadCount + `">
                        <input type="file" class="custom-file-input" name="productImgFile" multiple>
                        <label class="custom-file-label">상품이미지 ` + fileUploadCount + `</label>
                        <button type="button" class="btn btn-danger mt-1" onclick="removeFileUpload(` + fileUploadCount + `)">삭제</button>
                    </div>
                `;
                $('#file-upload-container').append(newFileUpload);
                bindEvent(); // 추가된 파일 업로드 필드에 이벤트 바인딩
            });
        }
        function removeFileUpload(id) {
            $('#file-upload-' + id).remove();
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        .product_wrap {
            width: 800px;
            margin: 100px auto;
        }
        .input-group {
            margin-bottom: 20px;
        }
        .img-div {
            margin-bottom: 10px;
        }
        .fieldError {
            color: red;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="product_wrap">
        <h1>상품 등록</h1>
        <form role="form" method="post" enctype="multipart/form-data" th:object="${productFormDto}">
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <select th:field="*{productSellStatus}" class="custom-select">
                    <option value="SELL">판매중</option>
                    <option value="SOLD_OUT">품절</option>
                </select>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">상품명</span>
                    </div>
                    <input type="text" th:field="*{prName}" class="form-control" placeholder="상품명을 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('prName')}" th:errors="*{prName}" class="fieldError">잘못된 값 입니다</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">카테고리</span>
                    </div>
                    <select th:field="*{productCategory}" class="form-control" style="width:auto;">
                        <option value="ANDROID">ANDROID</option>
                        <option value="IPHONE">IPHONE</option>
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text">종류</span>
                    </div>
                    <select th:field="*{productType}" class="form-control" style="width:auto;">
                        <option value="JELLY">JELLY</option>
                        <option value="HARD">HARD</option>
                        <option value="CARD_STORAGE">CARD STORAGE</option>
                    </select>
                </div>
                <p th:if="${#fields.hasErrors('productCategory')}" th:errors="*{category}" class="fieldError">잘못된 값 입니다</p>
                <p th:if="${#fields.hasErrors('productType')}" th:errors="*{productType}" class="fieldError">잘못된 값 입니다</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">가격</span>
                    </div>
                    <input type="number" th:field="*{prPrice}" class="form-control" placeholder="가격을 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('prPrice')}" th:errors="*{prPrice}" class="fieldError">잘못된 값 입니다</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">재고수량</span>
                    </div>
                    <input type="number" th:field="*{prStock}" class="form-control" placeholder="재고수량을 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('prStock')}" th:errors="*{prStock}" class="fieldError">잘못된 값 입니다</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">상품 상세 내용</span>
                    </div>
                    <textarea th:field="*{prDetail}" class="form-control" aria-label="With textarea"></textarea>
                </div>
                <p th:if="${#fields.hasErrors('prDetail')}" th:errors="*{prDetail}" class="fieldError">잘못된 값 입니다</p>
            </div>

            <div id="file-upload-container">
                <div class="form-group custom-file img-div" id="file-upload-1">
                    <input type="file" class="custom-file-input" name="productImgFile" multiple>
                    <label class="custom-file-label">상품이미지</label>
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-3" id="add-file-upload">추가</button>

            <div style="text-align:center;">
                <button th:if="${#strings.isEmpty(productFormDto.id)}" th:formaction="@{/admin/product/new}" type="submit" class="btn btn-primary">저장</button>
                <button th:unless="${#strings.isEmpty(productFormDto.id)}" th:formaction="@{'/admin/product/'+${productFormDto.id}}" type="submit" class="btn btn-primary">수정</button>
            </div>
        </form>
    </div>
</div>

</html>
