<!DOCTYPE html>
<html lang="ko" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>productList</title>
    <link rel="stylesheet" th:href="@{/css/productList.css}">
    <script th:src="@{/js/productList.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="wrap">
        <div class="top">
            <div class="top_img">
                <img alt="메인 배너" src="/images/main_banner2.png">
            </div>
            <div class="top_bot d-flex justify-content-between">
                <div class="top_left">
                    <p id="main-category"></p>
                </div>
                <ul class="top_right d-flex">
                    <li><a href="#">신상품</a></li>
                    <li><a href="#">상품명</a></li>
                    <li><a href="#">낮은가격</a></li>
                    <li><a href="#">높은가격</a></li>
                    <li><a href="#">리뷰많은순</a></li>
                </ul>
            </div>
        </div>

        <!-- 내비 -->
        <nav class="navigation">
            <ul class="d-flex justify-content-center" th:if="${mainCategory != null && mainCategory.name() == 'PHONE_CASE'}">
                <li><a th:href="@{/products?category=PHONE_CASE&type=HARD}" class="nav-link" data-category="PHONE_CASE" data-type="HARD">하드</a></li>
                <li><a th:href="@{/products?category=PHONE_CASE&type=CARD}" class="nav-link" data-category="PHONE_CASE" data-type="CARD">카드 수납</a></li>
                <li><a th:href="@{/products?category=PHONE_CASE&type=JELLY}" class="nav-link" data-category="PHONE_CASE" data-type="JELLY">젤리</a></li>
            </ul>
            <ul class="d-flex justify-content-center" th:if="${mainCategory != null && mainCategory.name() == 'TOK'}">
                <li><a th:href="@{/products?category=TOK&type=ROUND}" class="nav-link" data-category="TOK" data-type="ROUND">원형톡</a></li>
                <li><a th:href="@{/products?category=TOK&type=HEART}" class="nav-link" data-category="TOK" data-type="HEART">하트톡</a></li>
                <li><a th:href="@{/products?category=TOK&type=ACRYLIC}" class="nav-link" data-category="TOK" data-type="ACRYLIC">아크릴톡</a></li>
            </ul>
            <ul class="d-flex justify-content-center" th:if="${mainCategory != null && mainCategory.name() == 'AIRPODS'}">
                <li><a th:href="@{/products?category=AIRPODS&type=AIRPODS_1_2}" class="nav-link" data-category="AIRPODS" data-type="AIRPODS_1_2">에어팟1/2세대</a></li>
                <li><a th:href="@{/products?category=AIRPODS&type=AIRPODS_PRO}" class="nav-link" data-category="AIRPODS" data-type="AIRPODS_PRO">에어팟PRO</a></li>
                <li><a th:href="@{/products?category=AIRPODS&type=AIRPODS_3}" class="nav-link" data-category="AIRPODS" data-type="AIRPODS_3">에어팟3세대</a></li>
                <li><a th:href="@{/products?category=AIRPODS&type=BUDS}" class="nav-link" data-category="AIRPODS" data-type="BUDS">버즈</a></li>
            </ul>
            <ul class="d-flex justify-content-center" th:if="${mainCategory != null && mainCategory.name() == 'DIGITAL'}">
                <li><a th:href="@{/products?category=DIGITAL&type=APPLE_WATCH}" class="nav-link" data-category="DIGITAL" data-type="APPLE_WATCH">애플워치</a></li>
            </ul>
        </nav>

        <!-- 실제 디비에 저장되어있는 상품 나열 -->
        <div class="product-list">
            <div class="product" th:each="product : ${products}">
                <div class="product-image">
                    <a th:href="@{/products/{id}(id=${product.id})}"><img th:src="@{${product.imageUrl}}" th:alt="${product.prName} 이미지"></a>
                </div>
                <div class="product-info">
                    <p class="product-name">
                        <a th:href="@{/products/{id}(id=${product.id})}"><span th:text="${product.prName}"></span></a>
                    </p>
                    <div class="price-info">
                        <span class="original-price"><a class="no-click" href="#"><span th:text="'KRW ' + ${product.prPrice}"></span>원</a></span>
                        <span class="discount"><a class="no-click" href="#"><span th:text="${product.discount} + '% 할인'"></span>할인</a></span>
                        <span class="discounted-price"><a class="no-click" href="#"><span th:text="'KRW ' + ${product.prPrice - (product.prPrice * product.discount / 100)}"></span>원</a></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="more text-center">
            <div>
                <h3>MORE</h3> <!-- more 를  클릭하면 상품이 더 나오게 > js 로 -->
            </div>
        </div>

    </div>
</div>

</body>
</html>
