<!DOCTYPE html>
<html lang="ko" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/case.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="wrap">
        <div class="top">
            <div class="top_img">
                <img alt="메인 배너" src="/images/main_banner2.png">
            </div>
            <div class="top_bot d-flex justify-content-between">
                <div class="top_left">
                    <p>폰 케이스</p> <!-- 하드면  하드 / 카드 수납 / 젤리 누르면 innerText 이용해서 p 태그 안에 글씨 넣어주기  -->
                </div>
                <ul class="top_right d-flex">
                    <li><a href="#">신상품</a></li>
                    <li><a href="#">상품명</a></li>
                    <li><a href="#">낮은가격</a></li>
                    <li><a href="#">높은가격</a></li>
                    <li><a href="#">리뷰많은순</a></li>
                </ul>
            </div>
        </div>
        <!-- 내비 -->
        <nav class="navigation">
            <ul class="d-flex justify-content-center">
                <li><a href="#">하드</a></li>
                <li><a href="#">카드수납</a></li>
                <li><a href="#">젤리</a></li>
            </ul>
        </nav>
        <!-- 실제 디비에 저장되어있는 상품 나열 -->
        <div class="product">
            <div class="product-image">
                <a href="이미지_링크"><img alt="보드-Molli 이미지" src="이미지_주소"></a>
            </div>
            <div class="product-info">
                <p class="product-name">
                    <a href="상품_이름_링크">[카드수납]★★보드-Molli</a>
                </p>
                <div class="price-info">
                    <span class="original-price"><a class="no-click" href="#">KRW 24,000</a></span>
                    <span class="discount"><a class="no-click" href="#">47% 할인</a></span>
                    <span class="discounted-price"><a class="no-click" href="#">KRW 12,800</a></span>
                </div>
            </div>
        </div>

        <div class="more text-center">
            <div>
                <h3>MORE</h3> <!-- more 를  클릭하면 상품이 더 나오게 > js 로 -->
            </div>
        </div>

    </div>
</div>

</body>
</html>