<!DOCTYPE html>
<html lang="ko" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <div class="reviewDetail-container">
        <div class="product cf">
            <div class="product-image">
                <img src="" alt="상품이미지">
            </div>
            <div class="product-info">
                <p class="product-name">[HARD] 테스트상품</p>
                <p class="product-detail">테스트상품 설명</p>
            </div>
        </div>

        <div class="review">
            <div class="review-item">
                <div class="user-image cf">
                    <img src="" alt="별점">
                    <div class="user-id">userId</div>
                </div>
            </div>
            <div >
                <p class="review-content">리뷰 내용</p>
            </div>
        </div>
    </div>
</body>
</html>