<!DOCTYPE html>
<html lang="ko" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>리뷰쓰기 | 폰꾸</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    JAVAScript: JQuery 라이브러리가 먼저 로드되고 바로 JS 코드가 로드되어야 작동함.-->
    <script th:src="@{/js/review.js}" type="text/javascript"></script>
    <!--    CSS-->
    <link rel="stylesheet" th:href="@{/css/review.css}">
    <link rel="stylesheet" th:href="@{/css/thumbnail.css}">
<!--</head>-->
<body>
    <div layout:fragment="content">
        <div class="title-wrapper">
            <h2>리뷰쓰기</h2>
        </div>
        <div class="container content-wrapper">
            <div class="writeBox">
                <form id="writeForm" class="write-form" th:action="@{/reviews}" th:object="${review}" method="post">
                    <fieldset>
                        <legend>상품 정보</legend>
                    </fieldset>
                    <table>
                        <tbody>
                        <tr>
                            <td><img th:src="@{http://via.placeholder.com/100x100}" alt="" style="width: 80px; height: 80px"></td>
                            <!--                                                : 이미지 삽입 코드는 추후 추가-->
                            <td class="option-area" th:text="*{prName}"></td>
                        </tr>
                        <!--                    : 주문 내역에서 리뷰 작성시, 상품 이름&상품 사진을 받아오는 로직 구현 필요-->

                        </tbody>
                    </table>
                    <fieldset>
                        <legend>리뷰 작성</legend>
                    </fieldset>
                    <table class="review-table">
                        <colgroup>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>제목</th>
                            <td>
                                <input type="text" id="revwTitle" name="revwTitle" th:value="${review.revwTitle}" placeholder="제목을 입력하세요">
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>별점</th>
                            <td colspan="2">
                                <div class="stars">
                                    <input type="radio" id="one" name="revwRatings" value="1">
                                    <label for="one">&#9733;</label>
                                    <input type="radio" id="two" name="revwRatings" value="2">
                                    <label for="two">&#9733;</label>
                                    <input type="radio" id="three" name="revwRatings" value="3">
                                    <label for="three">&#9733;</label>
                                    <input type="radio" id="four" name="revwRatings" value="4">
                                    <label for="four">&#9733;</label>
                                    <input type="radio" id="five" name="revwRatings" value="5">
                                    <label for="five">&#9733;</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>
                                <div>
                                    <textarea name="revwContent" id="revwContent" th:text="${review.revwContent}" cols="30" rows="10"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>사진첨부</th>
                            <td class="thumbnailBox reviewImageBox">
                                <ul>
                                    <li class="imageItem" onclick="previewImage()">
                                        <div class="imageBox reviewImage">
                                            <label for="image1" class="imageLabel">
                                                <i class="fa-solid fa-image" style="font-size: 300%"></i>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="imageItem" onclick="previewImage()">
                                        <div class="imageBox reviewImage">
                                            <label for="image2" class="imageLabel">
                                                <i class="fa-solid fa-image" style="font-size: 300%"></i>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="imageItem" onclick="previewImage()">
                                        <div class="imageBox reviewImage">
                                            <label for="image3" class="imageLabel">
                                                <i class="fa-solid fa-image" style="font-size: 300%"></i>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <input type="text" id="image1" class="files" accept="image/gif, image/jpeg, image/png" style="display: none;">
                                <input type="text" id="image2" class="files" accept="image/gif, image/jpeg, image/png" style="display: none;">
                                <input type="text" id="image3" class="files" accept="image/gif, image/jpeg, image/png" style="display: none;">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="buttonBox">
                        <button type="button" class="cancelBtn btn" onclick="history.back()">취소</button>
                        <button type="submit" class="writeBtn btn btn-dark">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--    JavaScript-->

</body>
</html>