<!DOCTYPE html>
<html lang="ko" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!--    CSS-->
    <link rel="stylesheet" th:href="@{/css/reviews.css}">
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="grid-container">
                <!-- 총 30개의 제품 정보를 동일한 구조로 추가 -->
                <!--        (.grid-item>a[href="/reviews/$"]>img[src="product$.jpg" alt="Product $"]+h3{제품 $}+p{제품 $에 대한 설명}+.rating{★★★★★})*30-->
                <div class="grid-item" th:each="review : ${reviews}">
                    <a th:href="@{/reviews/{id}(id=${review.reviewNo})}">
                        <img src="https://via.placeholder/100x100" alt="Product 1">
                        <!--                : 작성자가 추가한 이미지 불러오는 src 로직 필요-->
                        <h3 th:text="${review.revwTitle}"></h3>
                        <p th:text="${review.revwContent}"></p>
                        <a th:href="@{${review.filepath}}"></a>
                        <span class="rating">
                            <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                                <span th:class="${i <= review.revwRatings} ? 'active' : ''">★</span>
                            </th:block>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${pageDto.page == 1 ? 'disabled' : ''}">
                    <a th:href="@{/reviews(page=${pageDto.page - 1})}" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                th:classappend="${pageDto.page == pageNumber ? 'active' : ''}">
                    <a th:href="@{/reviews(page=${pageNumber - 1})}" th:text="${pageNumber}" class="page-link"></a>
                </li>
                <li class="page-item" th:classappend="${pageDto.page == pageDto.pageSize ? 'disabled' : ''}">
                    <a th:href="@{/reviews(page=${pageDto.page + 1})}" aria-label="Next" class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>