<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>상품 주문 페이지</h1>
<input type="number" id="count" name="count" placeholder="수량"> 수량 <br>
<input type="hidden" th:value="${prId}" id="prId">
<a id="order-link" href="#">주문하기</a>

<script>
    const orderLink = document.getElementById('order-link');
    const countInput = document.getElementById('count');
    const prId = document.getElementById('prId').value;


    countInput.addEventListener('input', function() {
        const count = countInput.value;
        orderLink.href = `/pay?prId=${prId}&count=${count}`;
    });
</script>
</body>
</html>
