<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>테스트</h1>
<input type="number" id="count" name="count" min="1" value="1"> 수량 <br>
<a id="order-link" th:href="@{'/pay?prId=' + ${prId} + '&count=1'}">주문하기</a>

<script>
    document.getElementById('count').addEventListener('input', function () {
        const count = this.value;
        const prId = [[${prId}]]; // 타임리프를 이용하여 prId를 삽입
        const orderLink = document.getElementById('order-link');
        orderLink.href = `/pay?prId=${prId}&count=${count}`;
    });

    // 초기 로드 시 링크 설정
    window.onload = function() {
        const count = document.getElementById('count').value;
        const prId = [[${prId}]]; // 타임리프를 이용하여 prId를 삽입
        const orderLink = document.getElementById('order-link');
        orderLink.href = `/pay?prId=${prId}&count=${count}`;
    };
</script>
</body>
</html>
