<!DOCTYPE html>
<html lang="ko" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>주문페이지</title>
    <link rel="stylesheet" th:href="@{/css/payment.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/payment.js}"></script>
</head>
<body>
<!--받는 사람  + 이메일 + 전화번호는 로그인 된 사람의 기본정보를 보여줌 -->
<div layout:fragment="content">
    <div class="container payment-container my-4">
        <h1 class="text-center my-4">ORDER</h1>
        <table class="table phone-actionOff">
            <thead>
            <tr>
                <td></td>
                <th>이미지</th>
                <th>상품 정보</th>
                <th>판매가</th>
                <th>수량</th>
                <th>배송비</th>
                <th>배송구분</th>
                <th>합계</th>
                <th>선택</th>
            </tr>
            </thead>
            <tbody class="table-group-divider align-middle ">
            <tr th:each="item : ${order.items}">
                <th scope="row"><input type="hidden" name="orderId" th:value="${order.orderNo}" class="cart-item-checkbox"></th>
                <td class="prImg">
                    <img alt="상품 이미지" class="img-fluid" th:src="@{${item.getImgUrl()}}">
                </td>
                <td class="prInfo">
                    <p class="prName" th:text="${item.productName}">상품 이름</p>
                    <p class="prDetail" th:text="${item.modelName}">상품 기종</p>
                </td>
                <td><p><span class="prPrice" th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'COMMA')}">0</span>원</p></td>
                <td class="prCount">
                    <input class="form-control d-inline-block item-count" name="count" min="1" th:value="${item.count}" type="number" th:data-order-detail-id="${item.getOrderItemId()}">
                </td>

                <td><span class="shippingCost">0</span>원</td>
                <td><span class="shipping">무료배송</span></td>
                <td><span class="totalPrice" th:text="${#numbers.formatDecimal(item.getPrice() * item.count, 0, 'COMMA', 0, 'COMMA')}">0</span>원</td>
                <td class="select">
                    <!-- 삭제 버튼 예시 -->
                    <button class="btn btn-danger btn-sm remove-item" th:data-order-id="${order.orderNo}" th:data-order-detail-id="${item.getOrderItemId()}">삭제</button>

                </td>

            </tr>
            </tbody>
        </table>

        <div class="phone-actionOn">
            <div th:each="item : ${order.items}" class="phone-order-item">
                <input type="hidden" name="orderId" th:value="${order.orderNo}" class="phone-cart-item-checkbox">
                <div class="phone-row">
                    <img alt="상품 이미지" class="phone-img-fluid" th:src="@{${item.getImgUrl()}}">
                    <div class="phone-prInfo">
                        <p class="phone-prName" th:text="${item.productName}">상품 이름</p>
                        <p class="phone-prDetail" th:text="${item.modelName}">상품 기종</p>
                    </div>
                </div>
                <div class="phone-price-details">
                    <span>가격:</span>
                    <span class="phone-prPrice" th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'COMMA')}">0</span>원
                </div>
                <div class="phone-price-details">
                    <span>수량:</span>
                    <input class="form-control d-inline-block phone-item-count" name="count" min="1" th:value="${item.count}" type="number" th:data-order-detail-id="${item.getOrderItemId()}">
                    <span>개 </span>
                </div>
                <div class="phone-shipping-details">
                    <span>배송비:</span>
                    <span class="phone-shippingCost">0</span>원
                </div>
                <div class="phone-total-details">
                    <span>합계:</span>
                    <span class="phone-totalPrice" th:text="${#numbers.formatDecimal(item.getPrice() * item.count, 0, 'COMMA', 0, 'COMMA')}">0</span>원
                </div>
                <div class="phone-select">
                    <button class="btn btn-danger btn-sm phone-remove-item" th:data-order-id="${order.orderNo}" th:data-order-detail-id="${item.getOrderItemId()}">삭제</button>
                </div>
            </div>
        </div>


        <table class="table tbBot">
            <th class="actionOff">[<span class="shipping">기본배송</span>]</th>
            <td>상품<span class="sumPrice bb " th:text="${#numbers.formatDecimal(order.getTotalPrice(), 0, 'COMMA', 0, 'COMMA')}">0</span>원+배송비<span class="cost bb">0</span>원=합계<span
                    class="sumTotalPrice bb" th:text="${#numbers.formatDecimal(order.getTotalPrice(), 0, 'COMMA', 0, 'COMMA')}">0</span>원
            </td>
        </table>

        <div class="my-4">


            <div class="border p-4 mt-4">
                <form>
                    <!--비회원 주문시-->
                    <!--
                     <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label" for="password">주문조회의 비밀번호 <span
                        class="text-danger">*</span></label>
                        <div class="col-sm-10">
                        <input class="form-control" id="password" placeholder="주문조회의 비밀번호" type="password">
                        <small class="form-text text-muted">(주문조회시 필요합니다. 4자에서 12자 영문 또는 숫자 (대소문자 구분))</small>
                        </div>
                        </div>
                        <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label" for="passwordConfirm">주문조회 비밀번호 확인 <span
                        class="text-danger">*</span></label>
                        <div class="col-sm-10">
                        <input class="form-control" id="passwordConfirm" placeholder="주문조회 비밀번호 확인" type="password">
                        </div>
                        </div>-->
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label" for="receiverName">받으시는 분 <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input class="form-control" id="receiverName" placeholder="받으시는 분" type="text" th:value="${order.getUserName()}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label" for="address">주소 <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <div class="input-group mb-2">
                                <input class="form-control" id="address" placeholder="우편번호" style="max-width: 150px;"
                                       type="text"  th:value="${order.getPCode()}">
                                <button class="btn btn-outline-secondary" type="button" >우편번호</button>
                            </div>
                            <input class="form-control mb-2" placeholder="기본주소" type="text" th:value="${order.getLoadAddress()}">
                            <input class="form-control" placeholder="나머지주소 (선택입력가능)" type="text" th:value="${order.getDetailAddress()}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">휴대전화 <span
                                class="text-danger">*</span>
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select class="form-select phoneNumber" style="max-width: 80px;">
                                    <option value="010">010</option>
                                    <option value="011">011</option>
                                    <option value="016">016</option>
                                    <option value="017">017</option>
                                    <option value="018">018</option>
                                    <option value="019">019</option>
                                </select>
                                <span class="input-group-text">ㅡ</span>
                                <input aria-label="Middle number" class="form-control phoneNumber"
                                       style="max-width: 100px;"
                                       type="text" th:value="${order.getTel2()}">
                                <span class="input-group-text">ㅡ</span>
                                <input aria-label="Last number" class="form-control phoneNumber"
                                       style="max-width: 100px;"
                                       type="text" th:value="${order.getTel3()}">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label" for="email">이메일 <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input class="form-control" id="email" placeholder="이메일" style="max-width: 150px;"
                                       type="email" th:value="${order.getEmail()}">
                                <span class="input-group-text">@</span>
                                <input class="form-control" placeholder="직접입력" style="max-width: 150px;" type="text" th:value="${order.getDomain()}">
                                <select class="form-select" style="max-width: 120px;">
                                    <option value="">직접입력</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="daum.net">daum.net</option>
                                    <option value="gmail.com">gmail.com</option>
                                    <option value="nate.com">nate.com</option>
                                </select>
                            </div>
                            <small class="form-text text-muted">이메일을 통해 결제정보를 보내드립니다. 이메일 주소에는 반드시 수신가능한 이메일 주소를 입력해
                                주세요.</small>
                        </div>
                    </div>
<!--                    <div class="mb-3 row">-->
<!--                        <label class="col-sm-2 col-form-label" for="deliveryMessage">배송메시지</label>-->
<!--                        <div class="col-sm-10">-->
<!--                            <input class="form-control" id="deliveryMessage" placeholder="배송메시지" type="text">-->
<!--                        </div>-->
<!--                    </div>-->
                </form>
            </div>

            <div class="summary my-5">
                <table class="table border">
                    <thead>
                    <tr>
                        <th>총 상품금액</th>
                        <th>총 배송비</th>
                        <th>결제예정금액</th>
                    </tr>
                    </thead>
                    <tbody class="table-success">
                    <tr>
                        <th scope="row"><span class="price"  th:text="${#numbers.formatDecimal(order.getTotalPrice(), 0, 'COMMA', 0, 'COMMA')}">0</span>원</th>
                        <td><span class="cost">0</span>원</td>
                        <td><span class="totalPrice" th:text="${#numbers.formatDecimal(order.getTotalPrice(), 0, 'COMMA', 0, 'COMMA')}">0</span>원</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4 text-center submit-btn" >
                <button class="btn btn-dark w-100" id="submit-order">결제하기</button>
            </div>
        </div>


    </div>
</div>

</body>
</html>
