<!DOCTYPE html>
<html lang="ko" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>주문내역</title>
    <link rel="stylesheet" th:href="@{/css/orderHistory.css}">
</head>
<body>
<th:block layout:fragment="content">
    <div class="orderHistory">
        <h1>주문내역조회</h1>
        <div class="tab_menu">
            <div class="active">주문내역조회 (0)</div>
            <div>취소/반품/교환 내역 (0)</div>
        </div>

        <div class="search_bar">
            <div class="dropdown">
                <select class="form-select">
                    <option selected>전체 주문처리상태</option>
                    <option value="1">옵션 1</option>
                    <option value="2">옵션 2</option>
                    <option value="3">옵션 3</option>
                </select>
            </div>
            <div aria-label="Date range" class="btn_group" role="group">
                <button class="btn btn-outline-secondary" type="button">오늘</button>
                <button class="btn btn-outline-secondary" type="button">1주일</button>
                <button class="btn btn-outline-secondary" type="button">1개월</button>
                <button class="btn btn-outline-secondary" type="button">3개월</button>
                <button class="btn btn-outline-secondary" type="button">6개월</button>
            </div>
            <input class="form-control" placeholder="달력" type="date">
            <span>~</span>
            <input class="form-control" placeholder="달력" type="date">
            <button class="btn btn-primary">조회</button>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>주문일자 [주문번호]</th>
                <th>이미지</th>
                <th>상품정보</th>
                <th>수량</th>
                <th>상품구매금액</th>
                <th>주문처리상태</th>
                <th>취소/교환/반품</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="">0</span></td>
                <td><img alt="Product Image" src="/images/product.png" width="50"></td>
                <td><span class="">0</span></td>
                <td><span class="">0</span></td>
                <td><span class="">0</span>원</td>
                <td><span class="">0</span></td>
                <td><span class="">-</span></td>
            </tr>
            </tbody>
        </table>

        <!--페이징 처리 -->
        <div class="pagination_container">
            <button class="pagination_btn">&lt;</button>
            <button class="pagination_btn active">1</button>
            <button class="pagination_btn">2</button>
            <button class="pagination_btn">3</button>
            <button class="pagination_btn">4</button>
            <button class="pagination_btn">5</button>
            <button class="pagination_btn">&gt;</button>
        </div>
    </div>
</th:block>
</body>
</html>
