<!DOCTYPE html>
<html lang="en">
<form action="/findUser" role="form" method="post">

    <div class="form-group">
        <label>이메일</label>
        <input type="email" name="email" class="form-control" placeholder="이메일을 입력해 주세요">

    </div>
    <div class="form-group">
        <label>전화번호</label>
        <input type="text" name="phone" class="form-control" placeholder="전화번호를 입력해 주세요">

    </div>

    <button type="button" class="btn btn-primary" onClick="location.href='/findId'">찾기</button>
    </form>
</html>