<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find User</title>
</head>
<body>
<h1>Find User</h1>
<form action="/findUser" method="post">
    <div class="form-group">
        <label>이메일</label>
        <input type="email" name="email" class="form-control" placeholder="이메일을 입력해 주세요" required>
    </div>
    <div class="form-group">
        <label>전화번호</label>
        <input type="text" name="phone" class="form-control" placeholder="전화번호를 입력해 주세요" required>
    </div>
    <button type="submit" class="btn btn-primary">찾기</button>
</form>


</body>
</html>
