<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/findId.css}">
</head>
<body>
<!-- 주문시 로그인 안되어있으면 오는 페이지 -->
<th:block layout:fragment="content">
    <div class="login-container">
        <h1>아이디 찾기</h1>
        <form action="/findId" method="post">
            <div th:if="${user != null}">
                <h2>입력된 정보로 검색된 아이디는 <br> <span th:text="${user.getUserId()}" class="user-id"></span>입니다.</h2>
            </div>
            <div th:if="${error != null}">
                <h2 th:text="${error}" class="error"></h2>
            </div>
            <a href="/login" class="loginLink">로그인 하러 가기</a>
        </form>
    </div>
</th:block>
</body>
</html>
