<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="css/myPage.css">
</head>
<body>

    <main class="main-content">
        <h1>MY PAGE</h1>
        <section class="balance-section">
            <div class="balance-item">
                <p>가용적립금</p>
                <p>0원</p>
                <button>조회</button>
            </div>
            <div class="balance-item">
                <p>가용적립금</p>
                <p>0원</p>
                <button>조회</button>
            </div>
            <div class="balance-item">
                <p>가용적립금</p>
                <p>0원</p>
                <button>조회</button>
            </div>
            <div class="balance-item">
                <p>총적립금</p>
                <p>0원</p>
            </div>
            <div class="balance-item">
                <p>총주문</p>
                <p>0원(0회)</p>
            </div>
        </section>
        
        <section class="order-status">
            <h2>나의 주문처리 현황 <span>(최근 3개월 기준)</span></h2>
            <div class="order-status-details">
                <div class="order-item">입금전 <span>0</span></div>
                <div class="order-item">배송준비중 <span>0</span></div>
                <div class="order-item">배송중 <span>0</span></div>
                <div class="order-item">배송완료 <span>0</span></div>
                <div class="order-item-cancel">
                    <ul>
                        <li>취소 : 0</li>
                        <li>교환 : 0</li>
                        <li>반품 : 0</li>
                    </ul>
                </div>
            </div>
        </section>
        
        <section class="nav-links">
            <a href="#" class="nav-item"> <img src="images/마이페이지 1.png" alt="" class="items">ORDER<br>주문내역 조회</a>
            <a href="#" class="nav-item"><img src="images/마이페이지 2.png" alt="" class="items">PROFILE<br>회원정보</a>
            <a href="#" class="nav-item"><img src="images/마이페이지3.png" alt="" class="items">WISHLIST<br>주문내역 조회</a>
            <a href="#" class="nav-item"><img src="images/마이페이지4.png" alt="" class="items">MILEAGE<br>적립금</a>
            <a href="#" class="nav-item"><img src="images/마이페이지5.png" alt="" class="items">COUPON<br>쿠폰</a>
            <a href="#" class="nav-item"><img src="images/마이페이지6.png" alt="" class="items">BOARD<br>게시글 관리</a>
            <a href="#" class="nav-item"><img src="images/마이페이지7.png" alt="" class="items">ADDRESS<br>배송 주소록 관리</a>
        </section>
    </main>
</body>
</html>
