<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/userEdit.css}">
</head>
<body>
    <div layout:fragment="content">
    <section class="signup">
        <h1 class="tit">회원 정보 수정</h1>
        <form action="#" method="post">
            <label for="userId">아이디 <strong>*</strong></label>
            <input type="text" id="userId"  name="userId" disabled th:value="${user.getUserId()}" th:text="${user
            .getUserId()}">

            <label for="userPw">비밀번호  <strong>*</strong></label>
            <input type="password" id="userPw" name="userPw">

            <label for="confirm-userPw">비밀번호 확인  <strong>*</strong></label>
            <input type="password" id="confirm-userPw" name="confirm-userPw">

            <label for="name" >이름  <strong>*</strong></label>
            <input type="text" id="name" name="name"  disabled th:value="${user.getName()}" th:text="${user.getName()}">

            <label for="address">주소 <strong>*</strong></label>
            <input type="text" id="address" name="address">
            <!-- pCode - 우편 주소  loadAddr - 도로명 주소  lotAddr - 지번 주소  detailAddr - 우편 주소 -->

            <label for="phone">휴대전화  <strong>*</strong></label>
<!--            <label for="phone">-->
            <input type="text" id="phone1" name="phone1">
            -
            <input type="text" id="phone2" name="phone2">
            -
            <input type="text" id="phone3" name="phone3"></label>

            <label for="email">이메일  <strong>*</strong></label>
            <input type="email" id="email" name="email">

            <!-- 수정을 누르면 수정되었습니다 라는 메시지와 함께 원래 있던 페이지로 리다이렉트 -->
            <div class="button-container">
                <button type="submit" class="btn1">회원정보수정</button>
                <button type="button" onclick="location.href='#'" class="btn2">취소</button>
            </div>
        </form>
    </section>
    </div>
</body>
</html>
