<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Footer</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="footer">
        <div class="container footer-content">
            <div class="row footer-links text-center mb-3">
                <div class="col bor_b">
                    <a href="#">회사소개</a> |
                    <a href="#">이용약관</a> |
                    <a href="#">개인정보처리방침</a> |
                    <a href="#">이용안내</a> |
                    <a href="#">제휴문의</a>
                </div>
            </div>
            <div class="row text-center text-md-start">
                <div class="col-md-3 mb-3 bor_r">
                    <h5>CUSTOMER CENTER</h5>
                    <p>000-0000-0000</p>
                    <p>평일 오전 11:00 ~ 오후 5:00</p>
                    <p>점심시간 오후 1:00 ~ 오후 2:00</p>
                    <p>토 / 일 / 공휴일 휴무</p>
                </div>
                <div class="col-md-3 bor_r">
                    <h5>ACCOUNT INFO</h5>
                    <p>카카오뱅크</p>
                    <p>0000000000000000</p>
                    <p>홍길동(상호명)</p>
                </div>
                <div class="col-md-3 bor_r">
                    <h5>FAVORITE MENU</h5>
                    <p><a href="#">로그인 회원가입</a></p>
                    <p><a href="#">관심상품</a></p>
                    <p><a href="#">장바구니</a></p>
                    <p><a href="#">주문조회</a></p>
                    <p><a href="#">마이페이지</a></p>
                </div>
                <div class="col-md-3">
                    <h5>RETURN / EXCHANGE</h5>
                    <p>경기도 하남시 하남대로 000000000000</p>
                    <p>자세한 교환·반품절차 안내는 문의란 및 공지사항을 참고해주세요</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bottom-text bor_t">
                    <p>상호 : 상호명 대표 : 홍길동 사업자 등록번호 : 123-456-789[사업자정보확인]</p>
                    <p>주소 : 12345 경기도 하남시 하남대로 000000000000 대표전화 : 123-456-7890</p>
                    <p>통신판매업 신고 : 제 0000-경기하남-0000 호 개인정보관리책임자 : 홍길동 이메일 : ABC@naver.com</p>
                    <p>COPYRIGHT © 상호명 ALL RIGHTS RESERVED.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
