<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Header</title>

</head>
<body>
<div th:fragment="header">
    <header class="header">
        <div class="container header-container">
            <div class="row align-items-center">
                <div class="col-md-4 d-flex justify-content-start">
                    <div class="header-notices">
                        <a class="me-3" href="#">NOTICE</a>
                        <a class="me-3" href="#">Q & A</a>
                        <a class="" href="#">REVIEW</a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="logo mochiy-pop-one-regular">
                        <a th:href="@{/}"><h1>PHONE GGU</h1></a>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <div class="header-links">
                        <a class="me-3" th:href="@{/login}" sec:authorize="!isAuthenticated()">LOGIN</a>
                        <a class="me-3" th:href="@{/join}" sec:authorize="!isAuthenticated()">JOIN US</a>
                        <a class="me-3" th:href="@{/logout}" sec:authorize="isAuthenticated()">LOG OUT</a>
                        <a class="me-3" th:href="@{/cart}">CART</a>
                        <a class="me-3" th:href="@{/order}">ORDER</a>
                        <a class="" th:href="@{/mypage}">MY PAGE</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="header_bottom py-2">
        <div class="container text-center">
            <img alt="ggu" src="/images/ggu.png">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               id="navPhoneCase" role="button">폰케이스</a>
                            <ul aria-labelledby="navPhoneCase" class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id="navHard">하드</a></li>
                                <li><a class="dropdown-item" href="#" id="navJelly">젤리</a></li>
                                <li><a class="dropdown-item" href="#" id="navCard">카드수납</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               id="navTok" role="button">톡</a>
                            <ul aria-labelledby="navTok" class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id="navRound">원형톡</a></li>
                                <li><a class="dropdown-item" href="#" id="navHeart">하트톡</a></li>
                                <li><a class="dropdown-item" href="#" id="navAcrylic">아크릴톡</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               id="navAirPodsBuds" role="button">에어팟/버즈</a>
                            <ul aria-labelledby="navAirPodsBuds" class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id="navAirPods1">에어팟1/2세대</a></li>
                                <li><a class="dropdown-item" href="#" id="navAirPodsPro">에어팟PRO</a></li>
                                <li><a class="dropdown-item" href="#" id="navAirPods3">에어팟3세대</a></li>
                                <li><a class="dropdown-item" href="#" id="navBuds">버즈</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               id="navDigital" role="button">디지털</a>
                            <ul aria-labelledby="navDigital" class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id="navAppleWatch">애플워치</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>
