
body {
    min-height: 100vh;
    background-color: #f9f9f9;
}

.cart-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1500px;
    min-height: 1000px;

}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table-group-divider td:nth-child(2){
    width: 150px;
    max-height: 100px;
}

.prImg img {
    max-width: 100%;
    height: auto;
    display: block;
}

.table-group-divider td:nth-child(3) {
    width: 450px;
}

.table-group-divider td:nth-child(3) .prName {
    font-weight: bold;
    margin: 0;
}

.table-group-divider td:nth-child(3) .prDetail {
    color: #777;
    margin: 0;
}
.table-group-divider td:nth-child(4),
.table-group-divider td:nth-child(6),
.table-group-divider td:nth-child(7),
.table-group-divider td:nth-child(8){
    width: 130px;
    font-weight: bold;    
}
.table-group-divider td:nth-child(5){width: 150px;}
.prCount input[type="number"] {
    width: 80px;
}

.table-group-divider td:nth-child(9){width: 90px;}
.select button {
    font-size: 11px;
    width: 90px;
}
.tbBot th{text-align: left;}
.tbBot td{text-align: end;}
.tbBot .bb{font-weight: bold;}
.summary .table th, .summary .table td {
    font-size: 1.2em;
    font-weight: bold;
}

.orderButtons button {
    margin-left: 10px;
    padding: 10px 20px;
}

