.header {
    position: relative;
    background-color: #bcdffd;
    color: #fff;
    padding: 20px 0;
    font-family: 'Mochiy Pop One' , sans-serif ;
}
/* 헤더 컨테이너 민테 a */
.header-container a{
    text-decoration: none;

}
.header_bottom > .container{
    margin: 50px auto;
}
.mochiy-pop-one-regular {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
.header-notices, .header-links {
    position: absolute;
    bottom: 10px;
}
.header-notices a, .header-links a {
    color: #000;
}
.header-notices a:hover, .header-links a:hover {
    color: #fff;
    font-weight: bold;
}
.header_bottom img {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding-top: 10px;
}

.navbar {
    z-index: 99;
}
.navbar-nav > .nav-item {
    height: 40px;
    margin: 10px 20px;
}
.navbar a {
    text-decoration: none;
    color: #000;
    text-align: center;
}
.navbar li:hover {
    text-align: center;
    transform: scale(1.4);
    font-weight: bold;
}
.navbar li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 1;
    border: none;
}
.navbar li:hover ul {
    display: block;
}
.navbar li ul li {
    margin: 0;
}
.navbar li ul li a {
    padding: 10px;
    display: block;
}
.dropdown-menu {
    border: none;
    box-shadow: none;
}
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: transparent !important; /* 부트스트랩 기본 호버 배경색 제거 */
    color: inherit; /* 텍스트 색상 유지 */
}
