* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
.cf:after {
    content: '';
    display: block;
    clear: both;
}

.carousel-inner {
    max-width: 1500px;
    margin: 0 auto;
}
.carousel-item {
    height: 500px;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* background-color: 000; */
    border-radius: 50%;
}
.carousel-control-prev {
    left: 5%;
}
.carousel-control-next {
    right: 5%;
}
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-indicators [data-bs-target] {
    background-color: #ffcc00;
}
.carousel-indicators .active {
    background-color: #ff9900;
}

.index-container {
    max-width: 1500px;
    margin: 0 auto;
}
.item_text, .more {
    font-size: 30px;
    margin: 40px 0;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
}
.circle_group {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
}
.circle-item {
    float: left;
    padding: 10px;
}

.product-list{
    max-width: 1500px;
    text-align: center;
}
.product{
    float: left;
    width: 20%;
}

.product-list .product-image img{
    max-width: 100%;
}

.more:hover{
    color: #ff9900;
    cursor: pointer;
}