* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #f5f5f5;
}

.tit{
    text-align: center;
}
.category-nav {
    margin: 20px 0;
}

.category-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

.signup {
    max-width: 1100px;
    font-family: Arial, sans-serif;
    border: 3px solid #aaa;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signup > .back-login {
    float: right;
    margin-top: 30px;
    font-size: 13px;

}
.signup h2 {
    margin-bottom: 20px;
}

.kakao-login {
    background-color: #ffeb00;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 80px;
    margin-bottom: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

#userId{
    max-width: 230px;
}

#userPw{
    max-width: 350px;
}
#confirm-userPw{
    max-width: 350px;
}
#name{
    max-width: 200px;
}
#address{
    max-width: 400px;
}
#phone1{
    max-width:  100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#phone2{
    max-width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#phone3{
    max-width:  100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#email{
    max-width: 150px;
}
.input-group-text{
    height: 45px;
}

.form-select{
    height: 45px;
}
#email-domain{
    min-width: 100px;
    max-width: 150px;
}
#checkDuplicate{
    width: 100px;
}

form label {
    margin: 10px 0 5px;
}

strong{
    margin: 10px 0 5px;
    color: red;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form div {
    margin: 10px 0;
}

form button {
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
   
}

.btn{
    width: 120px;
    height: 50px;
    margin: 50px auto 0;
    display: block;
    color: #fff;
    background-color: #00274c;
}
.btn:hover {
    color: #fff;
    background-color: #00274c;
}

.error {
 color: red;
}
.success {
 color: green;
}

.col-form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.address-group {
    display: flex;

    margin-bottom: 10px;
}

.address {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.address:last-child {
    margin-right: 0;
}

.address[type="button"] {
    background-color: #999;
    color: #fff;
    border: none;
    cursor: pointer;
    flex: none;
}

.address[type="button"]:hover {
    background-color: #777;
}

.text-danger {
    color: red;
}

.actionOff{display: block;}
.actionOn{display: none;}

@media (max-width: 767px) {
    .actionOff{display: none;}
    .actionOn{display: block;}

    #email{
        min-width: 150px;
        max-width: 200px;
    }

    .address-group input[type="text"],
    .address-group input[type="button"] {
        flex: 1 1 100%;
        margin-right: 0;
    }

}