*{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;}
.cf:after{
    content:'';
    display:block;
    clear:both;
}

.product-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.product-image {
    padding: 50px;
    width: 50%;
    height: 500px;
    float: left;
}
.product-details {
    width: 50%;
    padding: 50px;
    float: left;
    box-sizing: border-box;
}
.product-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.product-details .price {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}
.product-details .shipping {
    margin-bottom: 20px;
}
.product-details .options {
    margin: 20px 0;
}
.product-details .minimum-order {
    margin: 20px 0;
}
.product-details .total {
    margin: 20px 0;
}
.product-details button {
    padding: 10px 20px;
    margin: 20px 10px 0 0;    
    cursor: pointer;
    border: 1px solid #000;
}
.product-details .btn-bay {
    background-color: #000;
    width: 200px;
    color: #fff;
}
.product-details button:hover{
    background-color: #bcdffd;
    color: #000;
    border: 1px solid #bcdffd;
}
.product-details .btn-save , .product-details .btn-cart  {
    background-color: #fff;
    color: #000;    
}

.foot {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid #000;
}
.foot div {
    margin: 0 20px;
}
.foot a {
    color: #000;
    text-decoration: none;
}
.foot a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.additional-info {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.additional-info .info-box {
    width: 50%;
    height: 500px;
    background-color: #ccc;
}
.rounded {
    border-radius: 8px;
}

.mgb-15 {
    margin-bottom: 15px;
    max-width: 900px;
    height: auto;
    width: 50%;
}

.ptc{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.detailguide {
    display: flex;
    justify-content: center;
}
.detailguide img{
    width: 50%;
}

.selected-product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected-product input[type="number"] {
    width: 70px;
    text-align: center;
}

.selected-product button {
    width: 25px;
    height: 25px;
    margin: 20px auto;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.totalPrice{
    margin-top: 20px;
    text-align: end;
}
#totalPrice{
    font-weight: bold;
}

@media (max-width: 1000px) {
    .product-container {
        flex-direction: column;
    }
    .product-image {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .product-details {
        width: 100%;
        padding: 20px;
    }
    .additional-info .info-box {
        width: 100%;
        max-width: 100%;
    }
}
