body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.grid-item a {
    text-decoration: none;
    color: inherit;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
/*     : 이미지가 블록 요소로 표시되도록 설정 */
/*    border: 1px solid red;*/
/*   : 임시 테두리 추가 */
  background-color: lightgray;
/*   : 임시 배경색 추가 */
}

.rating {
    font-size: 1.2rem;
    margin-top: 10px;
    white-space: nowrap;
}
.rating span {
    color: #ccc; /* 기본 색상 */
}
.rating span.active {
    color: #f5b301; /* 활성화된 별 색상 */
}
