*{margin:0;padding:0;}

ul,li{list-style:none;}

a{text-decoration:none; color: #000;}

.cf:after{

    content:'';

    display:block;

    clear:both;

}



.reviewDetail-container {

    max-width: 1500px;

    margin: 0 auto;

}

.product {

    margin: 50px;

}

.product-image{

    float: left;

    margin-right: 10px;

}

.product-image img{

    display: inline-block;

    width: 200px;

    height: 200px;

    background-color: lightgray;

}

.product-info{

    display: inline-block;

    margin-left: 50px;

    margin-top: 20px;

}

.product-name {

    font-size: 2em;

    font-weight: bold;

    margin-bottom: 20px;

}

.product-details {

    font-size: 1.3em;

}



.review {

    border-top: 1px solid #ccc;

    padding: 30px;

    padding-left: 50px;

}

.review-item {



}

.user-image{

}

.user-image img{

    display: inline-block;

    width: 150px;

    height: 50px;

    background-color: lightgray;

    margin-right: 10px;

}

.user-id {

    display: inline-block;

    font-weight: bold;

    margin-bottom: 5px;

    font-size: 1.5em;

}



.review-content{

    margin-top: 20px;

    margin-left: 20px;

    font-size: 1.2em;

}