* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
}

.login-container {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 1500px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 2px solid #000;
}

.form-container {
  text-align: center;
  padding: 20px;
}

.member-login h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

form {
  max-width: 500px;
  height: 150px;
  /* align-items: center; */
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  height: 50px;
}

.login-id {
  float: left;
  margin-left: 50px;
}

.login-pw {
  float: left;
  margin-left: 50px;
}

.login-button {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #003366;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

.kakao-login, .google-login, .naver-login {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
}
.error-message{
  color: red;
}
.kakao-login {
  margin-top: 60px;
  background-color: #FFEB00;
  color: #000;
}

.google-login {
  background-color: #4285F4;
}

.naver-login {
  background-color: #1EC800;
}


.links {
  margin-bottom: 40px;
}

.line{
  border: 1px solid #ccc ;
  margin-top: 30px;
  margin-bottom: 30px;
}

.links a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-size: 13px;
}


.login-bottom {
  text-align: center;
  padding: 20px;
  margin-top: 70px;
  float: left;
}

.login-bottom p {
  margin-bottom: 10px;
  text-align: left;
  font-size: 12px;
  line-height: 14px;

}
.login-bottom .big{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .login-id {
    margin-left: 0;
  }
  .login-pw {
    margin-left: 0;
  }
}