<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phoneGGU</title>
    <link rel="stylesheet" th:href="@{/css/index2.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer th:src="@{/js/index.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/mainImg/HARDCASE대표.png" class="d-block w-100" alt="main_banner">
            </div>
            <div class="carousel-item">
                <img src="/images/mainImg/JELLYCASE대표.png" class="d-block w-100" alt="main_banner">
            </div>
            <div class="carousel-item">
                <img src="/images/mainImg/CARDCASE대표.png" class="d-block w-100" alt="main_banner">
            </div>
            <div class="carousel-item">
                <img src="/images/mainImg/메인페이지광고.png" class="d-block w-100" alt="main_banner">
            </div>
            <div class="carousel-item">
                <img src="/images/mainImg/에어팟대표.png" class="d-block w-100" alt="main_banner">
            </div>
            <div class="carousel-item">
                <img src="/images/mainImg/톡대표.png" class="d-block w-100" alt="main_banner">
            </div>
            <div class="carousel-item">
                <img src="/images/mainImg/플립대표.png" class="d-block w-100" alt="main_banner">
            </div>

            <button class="carousel-control-prev but" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next but" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="index-container">
        <div class="circle_group cf">
            <div class="circle-item" ><a th:href="@{/listProducts(category='PHONE_CASE', type='HARD')}"><img src="/images/mainImg/hard_case.png" alt="Circle1"></a> </div>
            <div class="circle-item" ><a th:href="@{/listProducts(category='PHONE_CASE', type='JELLY')}"><img src="/images/mainImg/card_case.png" alt="Circle1"></a> </div>
            <div class="circle-item" ><a th:href="@{/listProducts(category='PHONE_CASE', type='CARD')}"><img src="/images/mainImg/jelly_case.png" alt="Circle1"></a> </div>
            <div class="circle-item" ><a th:href="@{/listProducts(category='TOK', type='ROUND')}"><img src="/images/mainImg/tok_case.png" alt="Circle1"></a> </div>
            <div class="circle-item" ><a th:href="@{/listProducts(category='PHONE_CASE', type='ZFLIP')}"><img src="/images/mainImg/flip_case.png" alt="Circle1"></a> </div>
            <div class="circle-item" ><a th:href="@{/listProducts(category='AIRPODS', type='AIRPODS_1_2')}"><img src="/images/mainImg/airpods_case.png" alt="Circle1"></a> </div>
        </div>

        <h1 class="item_text">전체 상품</h1>

        <!-- 실제 DB에 저장된 상품 나열 -->
        <div class="product-list cf" id="product-list" th:fragment="product-list">
            <div class="product" th:each="product : ${indexProducts}">
                <div class="product-item" th:if="${product.productImgList.size() > 0}" style="display: none;">
                    <div class="product-image">
                        <a th:href="@{'/product/' + ${product.id}}">
                            <img th:src="@{${product.productImgList[0].imgUrl}}" th:alt="${product.prName} + ' 이미지'">
                        </a>
                    </div>
                    <div class="product-info">
                        <p class="product-name" th:title="${product.prName}">
                            <a th:href="@{'/product/' + ${product.id}}"><span th:text="${product.prName}"></span></a>
                        </p>
                        <div class="price-info">
                            <span class="original-price"><a class="no-click" href="#"><span th:text="'KRW ' + ${#numbers.formatDecimal(product.prPrice, 0, 'COMMA', 0, 'COMMA')}"></span>원</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="more text-center">
            <div>
                <h3 id="load-more">more</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>
