<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
<!--    <link rel="stylesheet" th:href="@{/css/index2.css}">-->
    <link rel="stylesheet" th:href="@{/css/index2.css}">
</head>
<body>

<div layout:fragment="content">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/main_banner1.png" class="d-block w-100" alt="main_banner1">
            </div>
            <div class="carousel-item">
                <img src="images/main_banner2.png" class="d-block w-100" alt="main_banner2">
            </div>
            <div class="carousel-item">
                <img src="images/main_banner3.png" class="d-block w-100" alt="main_banner3">
            </div>
            <div class="carousel-item">
                <img src="images/main_banner4.png" class="d-block w-100" alt="main_banner4">
            </div>

            <button class="carousel-control-prev but" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next but" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container">
        <h1>BEST ITEM</h1>
        <div class="item_group">
            <div class="item"><img src="image1.png" alt="Item1"></div>
            <div class="item"><img src="image2.png" alt="Item2"></div>
            <div class="item"><img src="image3.png" alt="Item3"></div>
            <div class="item"><img src="image4.png" alt="Item4"></div>
            <div class="item"><img src="image5.png" alt="Item5"></div>
            <div class="item"><img src="image6.png" alt="Item6"></div>
            <div class="item"><img src="image7.png" alt="Item7"></div>
            <div class="item"><img src="image8.png" alt="Item8"></div>
        </div>
        <div class="circle_group cf">
            <div class="circle-item" ><a href=""><img src="images/hard_case.png" alt="Circle1"></a> </div> <!-- 할것 : 해당 하는 url 매핑 하기 -->
            <div class="circle-item" ><img src="images/card_case.png" alt="Circle1"></div>
            <div class="circle-item" ><img src="images/jelly_case.png" alt="Circle1"></div>
            <div class="circle-item" ><img src="images/tok_case.png" alt="Circle1"></div>
            <div class="circle-item" ><img src="images/flip_case.png" alt="Circle1"></div>
            <div class="circle-item" ><img src="images/airpods_case.png" alt="Circle1"></div>
        </div>
    </div>

    <div class="event">
        <h1 class="event_text">EVENT</h1>
        <div class="event_imgs">
            <div class="event_sale1">
                <img src="images/event_frame1.png" alt="">
                <img src="images/event_frame2.png" alt="">
                <img src="images/event_frame3.png" alt="">
                <img src="images/event_frame4.png" alt="">
            </div>

            <div class="event_sale2">
                <img src="images/event_frame5.png" alt="">
                <img src="images/event_frame6.png" alt="">
                <img src="images/event_frame7.png" alt="">
                <img src="images/event_frame8.png" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>
