<!DOCTYPE html>
<html lang="ko" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>질문 작성</title>
</head>
<body>
    <div layout:fragment="content">
        <form th:action="@{/qnas/create}" class="container" method="post">
            <div class="mb-3">
                <label class="form-label">제목</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="mb-3">
                <label class="form-label">내용</label>
                <textarea class="form-control" rows="3" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">제출</button>
            <a th:href="@{/qnas}">뒤로 가기</a>
        </form>
    </div>
</body>
</html>